@model BachHoaTH.Models.Order

@{































    ViewData["Title"] = "Thông tin đơn hàng" + Model.OrderId;































    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles {

<link href="~/Adminassets/css/process.css" rel="stylesheet">



}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash"><a asp-area="Admin" asp-controller="Home" asp-action="Index"
                class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a><a class="breadcrumb-item"
                asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Danh sách sản
                phẩm</a><span class="breadcrumb-item active">Thông tin Đơn hàng@Model.OrderId</span></nav>
    </div>
</div>

<div class="">
    <h4>Thông tin Đơn hàng:@(Model.OrderId)</h4>

    <div style="border : 1px solid grey" class="col-3">
        <table class="table product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.OrderId</td>
                </tr>
                <tr>
                    <td>Khách hàng</td>
                    <td>@Model.Customer.FullName</td>
                </tr>
                <tr>
                    <td>Địa chỉ </td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td>Tổng giá tiền</td>
                    <td>@Model.TotalMoney</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>@Model.TransactStatus.Description</td>
                </tr>
            </tbody>
        </table>
    </div>


    <h4>Chi tiết đơn hàng</h4>
    <div style="border : 1px solid grey" class="col-12">
        <table class="table product-info-table m-t-20">
            <thead>
                <th>STT</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giảm giá</th>

                <th>Giá sản phẩm </th>
                <th>Giá thực tế </th>
            </thead>
            <tbody>@{
                    int i = 1;
                }
                @foreach (var item in Model.OrderDetails)

                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Amount</td>
                        <td>@item.Amount</td>
                        <td>@if (item.Discount > 0)

                            {
                                @item.Discount



                            }

                            else

                            {
                                <span>0</span>

                            }
                        </td>
                        <td>@item.Price</td>
                       
                        <td>@if (item.Discount > 0)

                            {
                                @(item.Discount*item.Price/100)



                            }

                            else



                            {
                                @item.Price}</td>
                        </tr>



                    i++;

                }
            </tbody>
        </table>
    </div>
</div>