@using BachHoaTH.Models;
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

@section Styles{

<link rel="stylesheet" href="~/css/homeindex.css">


}

<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->


</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="section-space-top-100">

    <div class="container categories">
        <div class="categories-slider">
            @foreach (var cat in Model.catList)
            {

                <div class="categories-slider__item clickSubForm" style="height: 160px">
                    <form method="post" class="catForm" action="/shop">
                        <img src="~/images/categories/@cat.Thumb" alt="">
                        <h5 class="">@(cat.CatName)</h5>
                        <input type="hidden" name="catId" value="@(cat.CatId)">
                    </form>
                </div>



            }

        </div>
    </div>


</div>


<section>
    <div class="container py-5">
        <div id="pList" class="row productList">
            @foreach (var product in Model.productList)

            {
                string url = $"/{@product.Alias}-{@product.ProductId}.html";
                <div class="col-md-6 col-lg-3 mb-3 col-6  productList__item ">
                    <a href="@url">
                        <div class="productList__item-image">
                            <img src="~/images/products/@product.Thumb" class="card-img-top" alt="Laptop" />

                        </div>
                        <div class="productList__item-content">
                            <div class="justify-content-between productList__item-info">
                                <div class="productList__item-name">
                                    <p class="mb-0 productNameP" style="padding: 6px">@(product.ProductName)</p>
                                </div>

                                <div class="productList__item-price" style="padding: 6px;">

                                    <p class="mb-0 "><span>Giá: </span><span class="priceP">@(product.Price)</span></p>

                                    <div class="post-info"
                                    style="display: flex; justify-content:space-between; align-items:center">
                                        <p class="mb-0 priceDate" style="font-size: 0.8rem;"><span>Ngày
                                                đăng: </span>@(product.DateCreated)</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </a>
                </div>

            }



        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li><span class="page-link" href="#">Prev</span></li>
                <li class="page-item page-link" data-page="1">1</li>
                <li class="page-item page-link" data-page="2">2</li>
                <li class="page-item page-link" data-page="3">3</li>
                <li class="page-item page-link" data-page="4">4</li>
                <li class="page-item page-link" data-page="5">5</li>
                <li class="page-item page-link" data-page="6">6</li>
                <li><span class="page-link" href="#">Next</span></li>

            </ul>
        </nav>





    </div>
</section>


<input type="hidden" id="nofPage" value="@(Model.nofPage)">
<input type="hidden" id="pageSize" value="@(Model.pageSize)">




@section Scripts{
@* <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> *@

<script type="text/javascript" src="~/js/homeindex.js"></script>
}
